.bg-danger-panda{
    background-color: #FEEAE9;
}
.h1-panda{
    color: #FF136F;
    font-size: 50px !important;
    
}

.btn-info-panda{
    background-color: #FF136F;
    color: white !important;
}
.bg-info-1{
    background-color: #FFAA2D;
}
.bg-info-2{
    background-color: #FF3F8B;
}
.bg-info-3{
    background-color: #4161FD;
}